In [1]:
import pandas as pd

In [47]:
large = True

In [48]:
results = pd.read_csv('./results_large.csv' if large else './results.csv', names=['name', 'repo', 'acc', '#w', 'samples', 'time', 'model', 'model_address', 'split'])
results.tail(1)

,name,repo,acc,#w,samples,time,model,model_address,split
181,normal,all,0.28,52,3529,30-05-2022_15-53-05,t5-large,/scratch/arminz/tmp/currl_/data/all/data/svgdo...,source-test

In [49]:
# results = results[results['samples'] > 33]

In [50]:
# results = results[results['repo'].apply(lambda x: not ('svg' in x or 'foam' in x))]

In [51]:
import math
results['true_acc'] = (results['acc'] * results['samples']).apply(math.ceil) / results['samples']

In [52]:
results = results[results['split'] != 0.5]
results = results[results['model'] == f't5-{"large" if large else "small"}']

In [53]:
def extract_type_from_address(address):
    for keyword in ['_distance', 'bt', '_length_input', '_length_label', '_conf', 'included', 'ft', 'basic', 'finetuned', 'adapted']:
        if keyword in address:
            if keyword == 'ft' and '0.3_4' in address:
                return 'ft_0.3_4'
            return keyword
    return 'excluded'

In [54]:
results['type'] = results['model_address'].apply(extract_type_from_address)

In [55]:
results['type'].value_counts()

ft               30
finetuned        20
adapted          20
_conf            20
_length_label    20
_length_input    20
_distance        20
excluded         11
included         11
bt               10
Name: type, dtype: int64

In [56]:
# results[results['type'] == '_distance']

In [57]:
f'{10:.2f}, {1:.2f}'

'10.00, 1.00'

In [58]:
def print_stats(df):
    print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [59]:
print_stats(results[(results['type'] == 'included') & (results['repo'] != 'all')])

10, 64.89, 66.38, 63.37

In [60]:
print_stats(results[(results['type'] == 'excluded') & (results['repo'] != 'all')])

10, 50.21, 50.48, 45.59

In [61]:
print_stats(results[(results['type'] == 'excluded') & (results['repo'] == 'all')])

1, 40.01, 40.01, 40.01

In [62]:
print_stats(results[(results['type'] == 'finetuned') & (results['repo'] != 'all')])

10, 65.96, 67.61, 64.58

In [63]:
print_stats(results[(results['type'] == 'finetuned') & (results['repo'] == 'all')])

10, 46.51, 46.51, 46.02

In [64]:
print_stats(results[(results['type'] == 'adapted') & (results['repo'] != 'all')])

10, 66.81, 68.03, 62.59

In [65]:
print_stats(results[(results['type'] == 'adapted') & (results['repo'] == 'all')])

10, 43.91, 43.91, 44.01

In [66]:
print_stats(results[(results['type'] == 'ft') & (results['repo'] != 'all')])

20, 45.85, 44.05, 45.95

In [67]:
print_stats(results[(results['type'] == 'curr') & (results['repo'] != 'all')])

0, nan, nan, nan

/tmp/ipykernel_39246/3509975532.py:2: RuntimeWarning: invalid value encountered in double_scalars
  print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [68]:
print_stats(results[(results['type'] == 'curr') & (results['repo'] == 'all')])

0, nan, nan, nan

/tmp/ipykernel_39246/3509975532.py:2: RuntimeWarning: invalid value encountered in double_scalars
  print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [69]:
print_stats(results[(results['type'] == 'adapted') & (results['repo'] == 'all')])

10, 43.91, 43.91, 44.01

In [70]:
print_stats(results[(results['type'] == 'adapted') & (results['repo'] != 'all') & results['split'].isna()])

0, nan, nan, nan

/tmp/ipykernel_39246/3509975532.py:2: RuntimeWarning: invalid value encountered in double_scalars
  print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [71]:
print_stats(results[(results['type'] == 'adapted') & (results['repo'] != 'all') & ~results['split'].isna()])

10, 66.81, 68.03, 62.59

In [72]:
print_stats(results[(results['type'] == 'ft_0.3_4') & (results['repo'] != 'all')])

0, nan, nan, nan

/tmp/ipykernel_39246/3509975532.py:2: RuntimeWarning: invalid value encountered in double_scalars
  print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [73]:
print_stats(results[(results['type'] == 'ft_0.3_4') & (results['repo'] == 'all')])

0, nan, nan, nan

/tmp/ipykernel_39246/3509975532.py:2: RuntimeWarning: invalid value encountered in double_scalars
  print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [74]:
print_stats(results[(results['type'] == 'ft') & (results['repo'] == 'all')])

10, 84.13, 84.13, 84.54

In [75]:
print_stats(results[(results['type'] == 'ft') & (results['repo'] != 'all')])

20, 45.85, 44.05, 45.95

In [76]:
print_stats(results[(results['type'] == '_conf') & (results['repo'] != 'all')])

10, 54.47, 56.27, 50.31

In [77]:
print_stats(results[(results['type'] == '_conf') & (results['repo'] == 'all')])

10, 34.62, 34.62, 35.02

In [78]:
print_stats(results[(results['type'] == '_distance') & (results['repo'] != 'all')])

10, 59.36, 60.41, 56.31

In [79]:
print_stats(results[(results['type'] == '_distance') & (results['repo'] == 'all')])

10, 33.32, 33.32, 34.00

In [80]:
print_stats(results[(results['type'] == '_length_input') & (results['repo'] != 'all')])

10, 50.64, 50.46, 46.35

In [81]:
print_stats(results[(results['type'] == '_length_label') & (results['repo'] != 'all')])

10, 54.68, 56.04, 51.62

In [82]:
print_stats(results[(results['type'] == '_length_input') & (results['repo'] == 'all')])

10, 35.12, 35.12, 35.02

In [83]:
print_stats(results[(results['type'] == 'bt') & (results['repo'] != 'all')])

10, 55.11, 55.65, 47.88

In [84]:
print_stats(results[(results['type'] == 'bt') & (results['repo'] == 'all')])

0, nan, nan, nan

/tmp/ipykernel_39246/3509975532.py:2: RuntimeWarning: invalid value encountered in double_scalars
  print(f"{len(df)}, {100 * (df['true_acc'] * df['samples']).sum() / df['samples'].sum():.2f}, {100 * df['true_acc'].mean():.2f}, {100 * df['true_acc'].median():.2f}")

In [85]:
print_stats(results[(results['type'] == 'bt') & (results['repo'] != 'all')])

10, 55.11, 55.65, 47.88

In [86]:
f"{2.96:.1f}"

'3.0'

In [87]:
results[(results['type'] == 'included') & (results['repo'] != 'all')].sort_values(by='samples', ascending=False)[['repo', 'true_acc']]

                                        repo  true_acc
11            /data/all/data/qooxdoo/qooxdoo  0.582609
12             /data/all/data/elastic/kibana  0.607843
13           /data/all/data/emberjs/ember.js  0.659574
14           /data/all/data/zloirock/core-js  0.512195
16        /data/all/data/sequelize/sequelize  0.550000
15        /data/all/data/Encapsule-Annex/onm  1.000000
17               /data/all/data/dcos/dcos-ui  0.864865
18  /data/all/data/LivelyKernel/LivelyKernel  0.694444
20        /data/all/data/foam-framework/foam  0.424242
19            /data/all/data/svgdotjs/svg.js  0.741935

In [88]:
results[(results['type'] == 'adapted') & (results['repo'] != 'all')].sort_values(by='samples', ascending=False)

,name,repo,acc,#w,samples,time,model,model_address,split,true_acc,type
52,withAdapter,/data/all/data/qooxdoo/qooxdoo,0.63,18,115,06-05-2022_14-06-47,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.634783,adapted
54,withAdapter,/data/all/data/elastic/kibana,0.57,17,51,06-05-2022_15-13-21,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.588235,adapted
56,withAdapter,/data/all/data/emberjs/ember.js,0.60,11,47,06-05-2022_16-21-56,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.617021,adapted
58,withAdapter,/data/all/data/zloirock/core-js,0.51,8,41,06-05-2022_17-29-38,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.512195,adapted
62,withAdapter,/data/all/data/sequelize/sequelize,0.60,12,40,06-05-2022_19-51-29,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.600000,adapted
60,withAdapter,/data/all/data/Encapsule-Annex/onm,1.00,1,39,06-05-2022_18-38-27,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,1.000000,adapted
64,withAdapter,/data/all/data/dcos/dcos-ui,0.89,9,37,06-05-2022_21-01-23,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.891892,adapted
66,withAdapter,/data/all/data/LivelyKernel/LivelyKernel,0.67,12,36,06-05-2022_22-10-38,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.694444,adapted
70,withAdapter,/data/all/data/foam-framework/foam,0.39,13,33,07-05-2022_00-34-43,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.393939,adapted
68,withAdapter,/data/all/data/svgdotjs/svg.js,0.84,5,31,06-05-2022_23-21-00,t5-large,/scratch/arminz//tmp/adapted_large/,repo-based-included,0.870968,adapted

In [89]:
results[(results['type'] == 'adapted') & (results['repo'] != 'all') & results['split'].isna()]

Empty DataFrame
Columns: [name, repo, acc, #w, samples, time, model, model_address, split, true_acc, type]
Index: []

In [90]:
from matplotlib import pyplot as plt

In [91]:
plt.scatter(inc_2['samples'], inc_2['acc'], label='included')
plt.scatter(exc_2['samples'], exc_2['acc'], label='excluded')
plt.scatter(good_2['samples'], good_2['acc'], label='tuned')
plt.scatter(adapter['samples'], adapter['acc'], label='tuned with adapter')
plt.legend()

NameError: name 'inc_2' is not defined

In [ ]:
diff_inc = inc_2.set_index('repo').join(inc_2.set_index('repo')['acc'] - exc_2.set_index('repo')['acc'], rsuffix='ـdiff')

In [ ]:
diff_good = good_2.set_index('repo').join(good_2.set_index('repo')['acc'] - exc_2.set_index('repo')['acc'], rsuffix='ـdiff')

In [ ]:
diff_adapter = adapter.set_index('repo').join(adapter.set_index('repo')['acc'] - exc_2.set_index('repo')['acc'], rsuffix='ـdiff')

In [ ]:
plt.scatter(diff_inc['samples'], diff_inc['acc'], label='included')
plt.scatter(diff_adapter['samples'], diff_adapter['acc'], label='adapter')
plt.legend()

In [ ]:
plt.scatter(diff_good['samples'], diff_good['acc'], label='good')

In [ ]:
plt.scatter(diff_adapter['samples'], diff_adapter['acc'], label='adapter')

In [13]:
import math
results['true_acc'] = (results['acc'] * results['samples']).apply(math.ceil) / results['samples']

In [15]:
results.head(2)

,name,repo,acc,#w,samples,time,model,model_address,split,type,true_acc
0,NaN,/data/all/data/qooxdoo/qooxdoo,0.48,18,115,24-01-2022_16-16-11,t5-small,t5-small_repo-based_21-01-2022_10-29-42/checkp...,0.2,excluded,0.486957
1,NaN,/data/all/data/elastic/kibana,0.43,17,51,24-01-2022_16-17-24,t5-small,t5-small_repo-based_21-01-2022_10-29-42/checkp...,0.2,excluded,0.431373