In [1]:
import pandas as pd

In [30]:
tuner_runtime = pd.read_csv('./tuner_runtime_large.csv', names=['name', 'repo', 'train_size', 'val_size', 'model', 'start_all', 'start_train', 'end_train', 'end_all'])
tuner_runtime.head(1)

,name,repo,train_size,val_size,model,start_all,start_train,end_train,end_all
0,NaN,/data/all/data/qooxdoo/qooxdoo,322,110,training/t5-large_global_repo-based_25-01-2022...,2022-01-28 11:04:07.669853,2022-01-28 11:05:15.420979,2022-01-28 11:12:04.140188,2022-01-28 11:12:35.469396

In [31]:
tuner_runtime['time_all'] = pd.to_datetime(tuner_runtime['end_all']) - pd.to_datetime(tuner_runtime['start_all'])
tuner_runtime['time_train'] = pd.to_datetime(tuner_runtime['end_train']) - pd.to_datetime(tuner_runtime['start_train'])
tuner_runtime.head(1)

,name,repo,train_size,val_size,model,start_all,start_train,end_train,end_all,time_all,time_train
0,NaN,/data/all/data/qooxdoo/qooxdoo,322,110,training/t5-large_global_repo-based_25-01-2022...,2022-01-28 11:04:07.669853,2022-01-28 11:05:15.420979,2022-01-28 11:12:04.140188,2022-01-28 11:12:35.469396,0 days 00:08:27.799543,0 days 00:06:48.719209

In [40]:
tuner_runtime[tuner_runtime['name'].isna()]['time_train'].mean()

Timedelta('0 days 00:07:09.991777300')

In [36]:
#Volume: 2MB of adapters compared to 250MB of the model itself

In [37]:
tuner_runtime[tuner_runtime['name'] == 'curr_distance_based']['time_train'].mean()

Timedelta('0 days 00:01:31.395098500')

In [38]:
tuner_runtime[tuner_runtime['name'] == 'curr_length_label']['time_train'].mean()

Timedelta('0 days 00:00:46.964425')

In [39]:
tuner_runtime[tuner_runtime['name'] == 'curr_conf']['time_train'].mean()

Timedelta('0 days 00:00:59.477972')