In [1]:
import pandas as pd

In [2]:
tuner_runtime = pd.read_csv('./tuner_runtime.csv', names=['repo', 'train_size', 'val_size', 'model', 'start_all', 'start_train', 'end_train', 'end_all'])
tuner_runtime.head(1)

,repo,train_size,val_size,model,start_all,start_train,end_train,end_all
0,/data/all/data/qooxdoo/qooxdoo,322,110,training/t5-small_repo-based_21-01-2022_10-29-...,2022-01-25 12:25:21.078229,2022-01-25 12:25:43.360902,2022-01-25 12:26:36.368447,2022-01-25 12:26:39.673392

In [3]:
tuner_runtime['time_all'] = pd.to_datetime(tuner_runtime['end_all']) - pd.to_datetime(tuner_runtime['start_all'])
tuner_runtime['time_train'] = pd.to_datetime(tuner_runtime['end_train']) - pd.to_datetime(tuner_runtime['start_train'])
tuner_runtime.head(1)

,repo,train_size,val_size,model,start_all,start_train,end_train,end_all,time_all,time_train
0,/data/all/data/qooxdoo/qooxdoo,322,110,training/t5-small_repo-based_21-01-2022_10-29-...,2022-01-25 12:25:21.078229,2022-01-25 12:25:43.360902,2022-01-25 12:26:36.368447,2022-01-25 12:26:39.673392,0 days 00:01:18.595163,0 days 00:00:53.007545

In [4]:
tuner_runtime['time_all'].mean()

Timedelta('0 days 00:00:59.185669200')

In [5]:
tuner_runtime['time_train'].mean()

Timedelta('0 days 00:00:38.363861800')